body{
    background-color: rgb(155, 155, 182);
    margin: 0
}

.cards {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.card{
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
    padding: 5px;
}

.card-options{
    color: rgb(46, 45, 45);
}